<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../_share/metadata.ejs") %>
  <%- include("../_share/stylesheets.ejs") %>
  <title>Consult Password</title>
  <!-- re-captcha implementation starts here -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script>
    function callback_recaptcha(token){
      document.getElementById('submit_btn').disabled = false;
    }
  </script>
</head>
<body>
  <%- include("../_share/header.ejs") %>
  
   <!-- ----- メイン(ここから) ----- -->
   <main class="container">
    <div class=" col-sm-10 col-lg-8 border-bottom mt-5 mb-3" style="margin: 0 auto;">
      <h1>Change Password</h1>
    </div>
    <div class="row justify-content-center">
      
      <!-- ----- フォーム(ここから) ----- -->
      <form method="post" action="/passwordchange/confirm" class="col-sm-10 col-lg-8">

        <% if(message){ %>
          <div class="alert alert-primary text-center" style="padding: 6px 12px;"><%= message %></div>
        <% } else if(alert){ %>
          <div class="alert alert-danger text-center" style="padding: 6px 12px;"><%= alert %></div>
        <% } %>

        <div class="form-group row mb-3">
          <div class="col-sm-12">
            <input type="email" id="email" name="email" class="form-control" placeholder="email address" value="<%= email %>" required/>
          </div>
        </div>
        
        <div class="form-group row mb-3">
          <div class="col-sm-12">
            <input type="email" id="reemail" name="reemail" class="form-control" placeholder="re-email address" value="<%= reemail %>" required/>
          </div>
        </div>

        <!-- re-captcha implementation starts here -->
        <div class="form-group row" style="display: flex;justify-content: center;">
          <div class="col-sm-12 row justify-content-center">
            <div class="g-recaptcha hidden" data-sitekey="6LcAhF0lAAAAAMYBsx19h4cDhm82IMXRKgK_LQJ_" data-callback="callback_recaptcha"></div>
          </div>
        </div>
        <!-- re-captcha implementation ends here -->

        <div class="btn_field">
          <button type="submit" id="submit_btn" disabled>
            <span class="btn_inside">
              <span class="material-symbols-outlined">app_registration</span>
              <span class="btn_text">&nbsp;Confirm</span>
            </span>
          </button>
        </div>
    
      </form>
      <!-- ----- サインインフォーム(ここまで) ----- -->

    </div>
  </main>
  <!-- ----- メイン(ここまで) ----- -->

  <%- include("../_share/footer.ejs") %>
  <%- include("../_share/javascripts.ejs") %>
  <!-- recaptcha field action -->
  <script>
    /* ----- HTMLの取得 ----- */
    const emailInput = document.getElementById("email");
    const reemailInput = document.getElementById("reemail");
    const recaptchaField = document.querySelector(".g-recaptcha");

    /* ----- 関数の設定 ----- */
    let checkField = _ => {
      if(emailInput.value != "" && reemailInput.value != "")
        recaptchaField.classList.remove("hidden");
      else 
        recaptchaField.classList.add("hidden");
    };

    /* ----- イベントの発火(初期画面) ----- */
    checkField();

    /* ----- イベントリスナーの設定 ----- */
    emailInput.addEventListener("input", checkField);
    reemailInput.addEventListener("input", checkField);
  </script>
</body>
</html>