<!DOCTYPE html>
<html lang="ja"> 
<head>
  <%- include("./_share/metadata.ejs") %>
  <title>Atoviag Typing Game</title>
  <%- include("./_share/stylesheets.ejs") %>
</head>
<body>
  <%- include("./_share/header.ejs") %>

  <!-- ----- メイン(ここから) ----- -->
  <main>

    <!-- ----- テキストアクション領域(ここから) ----- -->
    <section id="text_area">
      <div>
        <span id="typed"></span><span id="untyped"></span>
      </div>
    </section>
    <!-- ----- テキストアクション領域(ここまで) ----- -->

    <!-- ----- ボタン領域(ここから) ----- -->
    <section class="btn_field">

      <!-- スタート及びサインインボタン -->
      <button>
        <span class="btn_inside">
          <span class="material-symbols-outlined">login</span>
          <span class="btn_text">&nbsp;Sign In</span>
        </span>
      </button>

      <!-- キータイピングタイプボタン -->
      <!-- <button style="display: flex; flex-direction: column; align-items: center;">
        <span class="material-symbols-outlined">keyboard</span>
        <span style="margin-top: 5px;">&nbsp;keypress type</span>
      </button> -->

      <!-- テキスト入力タイプボタン -->
      <!-- <button style="display: flex; flex-direction: column; align-items: center;">
        <span class="material-symbols-outlined">text_fields</span>
        <span style="margin-top: 5px;">&nbsp;text input type</span>
      </button> -->

      <!-- スタートボタン -->
      <!-- <button style="display: flex; flex-direction: column; align-items: center; padding: 5px 10px;">
        <span class="material-symbols-outlined">play_arrow</span>
        <span style="margin-top: 5px;">&nbsp;start</span>
      </button> -->

    </section>
    <!-- ----- スタート及びサインインボタン領域(ここまで) ----- -->

  </main>
  <!-- ----- メイン(ここまで) ----- -->

  <%- include("./_share/footer.ejs") %>
  <%- include("./_share/javascripts.ejs") %>
  <!-- main page action js -->
  <script type="text/javascript" src="/public/js/main.js"></script>
</body>
</html>