<!DOCTYPE html>
<html lang="ja"> 
<head>
  <%- include("./_share/metadata.ejs") %>
  <title>Atoviag Typing Game</title>
  <%- include("./_share/stylesheets.ejs") %>
</head>
<body>
  <!-- ----- keypress type modal window starts here ----- -->
  <div id="check-window" class="hidden">
    <p>Please check the rules before you start</p>
    <div>
      <ol id="check_items"></ol>
    </div>
    <div class="modal-window-btn-area">
      <button id="game-start-btn" style="display: flex; justify-content: center; align-items: center; font-size: 1.3em;" disabled>
        <span class="material-symbols-outlined">play_circle</span>
        Start
      </button>
      <span class="material-symbols-outlined check-window-close-btn">disabled_by_default</span>
    </div>
  </div>
  <!-- ----- keypress type modal window ends here ----- -->

  <%- include("./_share/header.ejs") %>

  <!-- ----- main starts here ----- -->
  <main>

    <section id="timer_area">
      <p id="time_left" class="hidden">&nbsp;-&nbsp;Counter&nbsp;-&nbsp;</p>
    </section>

    <!-- ----- text action area starts here----- -->
    <section id="text_area">
      <div style="display: flex; flex-direction: column;justify-content: center; align-items: center;">
        <div>
        <span id="typed"></span><span id="untyped"></span>
      </div>
        <p id="title_msg" style="font-size: .4em; margin: 0; text-align: center;"></p>
      </div>
    </section>
    <!-- ----- text action area ends here----- -->

    <!-- ----- button area starts here ----- -->
  
    <% // if(locals.user) { %>
      <section class="btn_field">
        <!-- keypress type button starts here -->
        <button style="display: flex; flex-direction: column; align-items: center;" id="keypresstype_btn">
          <span class="material-symbols-outlined">keyboard</span>
          <span style="margin-top: 5px;">&nbsp;keypress type</span>
        </button>
        <!-- keypress type button ends here -->

        <!-- text input type button starts here -->
        <button style="display: flex; flex-direction: column; align-items: center;" id="textinputype_btn">
          <span class="material-symbols-outlined">text_fields</span>
          <span style="margin-top: 5px;">&nbsp;text input type</span>
        </button>
        <!-- text input type button ends here -->
      </section>
    <% // } else { %>
      <section class="btn_field">
        <!-- sign in button starts here -->
        <!-- <button onclick="location.href='/signin'">
          <span class="btn_inside">
            <span class="material-symbols-outlined">login</span>
            <span class="btn_text">&nbsp;Sign In</span>
          </span>
        </button> -->
        <!-- sign in button ends here -->
      </section>
    <% // } %>
      
    <!-- ----- button area ends here ----- -->

  </main>
  <!-- ----- main ends here ----- -->

  <%- include("./_share/footer.ejs") %>
  <%- include("./_share/javascripts.ejs") %>
  <!-- main page action js -->
  <script type="module" src="/public/js/main.js"></script>
  <% if(locals.user) {%>
    <script type="module">
      import { storeUserInfo } from "/public/js/components/storegrades.mjs";

      storeUserInfo(
        "<%= locals.user.id %>",
        "<%= locals.user.email %>",
        `${navigator.userAgent}`,
      );
    </script>
  <% } %>
</body>
</html>