<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include("../_share/metadata.ejs") %>
  <title>Check E-mail Box </title>
  <%- include("../_share/stylesheets.ejs") %>
</head>
<body>
  <%- include("../_share/header.ejs") %>
  <div class="container">
    <div class="border-bottom my-5">
      <h1 class="">Check your E-mail Box</h1>
    </div>
    <div class="alert alert-success my-5 text-center">Please access the link attached in the message sent to <%= email %> at <%= date %></div>
  </div>
  <%- include("../_share/footer.ejs") %>
  <%- include("../_share/javascripts.ejs") %>
  <script type="text/javascript" src="/public/js/browserbackprevention.js"></script>
</body>
</html>