<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include("../_share/metadata.ejs") %>
  <title>Sign Up Confirmation</title>
  <%- include("../_share/stylesheets.ejs") %>
</head>
<body>
  <%- include("../_share/header.ejs") %>

  <!-- ----- メイン(ここから) ----- -->
  <main class="container">
    <div class=" col-sm-10 col-lg-8 border-bottom mt-5 mb-3" style="margin: 0 auto;">
      <h1>Confirm</h1>
    </div>
    <div class="row justify-content-center">
      <form class="col-sm-10 col-lg-8">
        <div class="form-group row mb-3">
          <label for="name" class="col-sm-4 col-form-label">Username：</label>
          <div class="col-sm-8">
            <input type="text" id="name" name="name" class="form-control" placeholder="Please enter your name" value="<%= name %>" readonly/>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="email" class="col-sm-4 col-form-label">Email：</label>
          <div class="col-sm-8">
            <input type="email" id="email" name="email" class="form-control" placeholder="Please enter your email"  value="<%= email %>" readonly/>
          </div>
        </div>

        <input type="hidden" name="reemail" value="<%= reemail %>">
        
        <div class="form-group row mb-3 form_pass_area">
          <label for="password" class="col-sm-4 col-form-label">New Password：</label>
          <div class="col-sm-8 pass_input_area">
            <input type="password" id="password" name="password" class="form-control pass_input" value="<%= password %>" readonly/>
            <button class="visibility" style="background-color: #e9ecef;">
              <span class="material-symbols-outlined pass_show_btn">visibility</span>
            </button>
          </div>
        </div>
        <input type="hidden" name="repassword" value="<%= repassword %>">
        <div class="form-group row mb-3">
          <label for="age" class="col-sm-4 col-form-label">Age：</label>
          <div class="col-sm-8">
            <input type="text" id="age" name="age" class="form-control" value="<%= age %>" readonly/>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="region" class="col-sm-4 col-form-label">Region：</label>
          <div class="col-sm-8">
            <input type="text" id="region" name="region" class="form-control" value="<%= region %>" readonly/>
          </div>
        </div>
        <div class="btn_field">

          <button id="back_btn" type="submit" data-method="post" data-action="/signup">
            <span class="btn_inside">
              <span class="material-symbols-outlined">arrow_back</span>
              <span class="btn_text">&nbsp;Back</span>
            </span>
          </button>

          <button id="execute_btn" type="submit" data-method="post" data-action="/signup/execute">
            <span class="btn_inside">
              <span class="material-symbols-outlined">app_registration</span>
              <span class="btn_text">&nbsp;Register</span>
            </span>
          </button>
          
        </div>
      </form>
    </div>
  </main>
  <!-- ----- メイン(ここまで) ----- -->

  <%- include("../_share/footer.ejs") %>
  <%- include("../_share/javascripts.ejs") %>
  <!-- submit button activation -->
  <script type="text/javascript" src="/public/js/passview.confirm.js"></script>

  <!-- back/execute button action -->
  <script type="text/javascript" src="/public/js/back.execute.btn.action.js"></script>
</body>
</html>