<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include("../_share/metadata.ejs") %>
  <title>Sign Up</title>
  <%- include("../_share/stylesheets.ejs") %>
  <!-- re-captcha implementation starts here -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script>
    function callback_recaptcha(token){
      document.getElementById('submit_btn').disabled = false;
    }
  </script>
</head>
<body>
  <%- include("../_share/header.ejs") %>

  <!-- ----- メイン(ここから) ----- -->
  <main class="container">
    <div class=" col-sm-10 col-lg-8 border-bottom mt-5 mb-3" style="margin: 0 auto;">
      <h1>Sign Up</h1>
    </div>
    <div class="row justify-content-center">

      <!-- ----- 新規登録フォーム(ここから) ----- -->
      <form method="post" action="/signup/confirm" class="col-sm-10 col-lg-8">
        <% if(error){ %>
          <div class="alert alert-danger">
          <% for(let item in error){ %>
            <div style="text-align: center;"><i class="fa fa-fw fa-exclamation-circle"></i><%= error[item] %></div>
          <% } %> 
          </div>
        <% } %>

        <!-- ----- ユーザ名入力領域(ここから) ----- -->
        <div class="form-group row mb-3">
          <label for="name" class="col-sm-4 col-form-label">Username：</label>
          <div class="col-sm-8">
            <input type="text" id="name" name="name" class="form-control" placeholder="Please enter your name" value="<%= name %>" required/>
          </div>
        </div>
        <!-- ----- ユーザ名入力領域(ここまで) ----- -->

        <!-- ----- ユーザ名領域(ここから) ----- -->
        <div class="form-group row mb-3">
          <label for="email" class="col-sm-4 col-form-label">Email：</label>
          <div class="col-sm-8">
            <input type="email" id="email" name="email" class="form-control" placeholder="Please enter your email"  value="<%= email %>" required/>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="reemail" class="col-sm-4 col-form-label">Re-enter email：</label>
          <div class="col-sm-8">
            <input type="email" id="reemail" name="reemail" class="form-control" placeholder="Please re-enter your email"  value="<%= reemail %>" required/>
          </div>
        </div>
        <div class="form-group row mb-3 form_pass_area">
          <label for="password" class="col-sm-4 col-form-label">New Password：</label>
          <div class="col-sm-8 pass_input_area">
            <input type="password" id="password" name="password" class="form-control pass_input" placeholder="Please enter a password" value="<%= password %>" required/>
            <button class="visibility">
              <span class="material-symbols-outlined pass_show_btn">visibility</span>
            </button>
          </div>
        </div>
        <div class="form-group row mb-3 form_pass_area">
          <label for="repassword" class="col-sm-4 col-form-label">Re-enter new Password：</label>
          <div class="col-sm-8 pass_input_area">
            <input type="password" id="repassword" name="repassword" class="form-control pass_input" placeholder="Please re-enter a password" value="<%= repassword %>" required/>
            <button class="visibility">
              <span class="material-symbols-outlined pass_show_btn">visibility</span>
            </button>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="age" class="col-sm-4 col-form-label">Age：</label>
          <div class="col-sm-8">
            <select class="form-control" id="age" name="age">
              <option value="0" <%= (parseInt(age) === 0 ? "selected" : "") %>>Click and select your age</option>
              <option value="under9" <%= (age === "under9" ? "selected" : "") %>>～ 9</option>
              <option value="10to19" <%= (age === "10to19" ? "selected" : "") %>>10 ～ 19</option>
              <option value="20to29" <%= (age === "20to29" ? "selected" : "") %>>20 ～ 29</option>
              <option value="30to39" <%= (age === "30to39" ? "selected" : "") %>>30 ～ 39</option>
              <option value="40to49" <%= (age === "40to49" ? "selected" : "") %>>40 ～ 49</option>
              <option value="50to59" <%= (age === "50to59" ? "selected" : "") %>>50 ～ 59</option>
              <option value="60to69" <%= (age === "60to69" ? "selected" : "") %>>60 ～ 69</option>
              <option value="over70" <%= (age === "over70" ? "selected" : "") %>>over 70</option>
            </select>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="region" class="col-sm-4 col-form-label">Region：</label>
          <div class="col-sm-8">
            <select class="form-control" id="region" name="region">
              <option value="0" <%= (parseInt(region) === 0 ? "selected" : "") %>>Click and select your region</option>
              <option value="asia" <%= (region === "asia" ? "selected" : '') %>>Asia</option>
              <option value="westasia" <%= (region === "westasia" ? "selected" : "") %>>West Asia</option>
              <option value="centralasia" <%= (region === "centralasia" ? "selected" : "") %>>Central Asia</option>
              <option value="easterneurope" <%= (region === "easterneurope" ? "selected" : "") %>>Eastern Europe</option>
              <option value="europe" <%= (region === "europe" ? "selected" : "") %>>Europe</option>
              <option value="mediterranean" <%= (region === "mediterranean" ? "selected" : "") %>>Mediterranean</option>
              <option value="westandcentralafrica" <%= (region === "westandcentralafrica" ? "selected" : "") %>>West and Central Africa</option>
              <option value="easternandsouthernafrica" <%= (region === "easternandsouthernafrica" ? "selected" : "") %>>Eastern and Southern Africa</option>
              <option value="mexicocentralamericaandcaribbean" <%= (region === "mexicocentralamericaandcaribbean" ? 'selected' : '') %>>Mexico, Central America and the Caribbean</option>
              <option value="southamerica" <%= (region === "southamerica" ? "selected" : "") %>>South America</option>
              <option value="washingtondcoffice" <%= (region === "washingtondcoffice" ? "selected" : "") %>>Washington D.C. Office</option>
              <option value="oceania" <%= (region === "oceania" ? "selected" : "") %>>Oceania</option>
            </select>
          </div>    
        </div>

        <!-- re-captcha implementation starts here -->
        <div class="form-group row" style="display: flex;justify-content: center;">
          <div class="col-sm-12 row justify-content-center">
            <div class="g-recaptcha hidden" data-sitekey="6LcAhF0lAAAAAMYBsx19h4cDhm82IMXRKgK_LQJ_" data-callback="callback_recaptcha"></div>
          </div>
        </div>
        <!-- re-captcha implementation ends here -->

        <div class="btn_field">
          <button type="submit" id="submit_btn" disabled>
            <span class="btn_inside">
              <span class="material-symbols-outlined">confirmation_number</span>
              <span class="btn_text">&nbsp;Confirm</span>
            </span>
          </button>
        </div>
        
      </form>
      <!-- ----- 新規登録フォーム(ここまで) ----- -->
    </div>
  </main>
  <!-- ----- メイン(ここまで) ----- -->

  <%- include("../_share/footer.ejs") %>
  <%- include("../_share/javascripts.ejs") %>
  <!-- recaptcha field action -->
  <script type="text/javascript" src="/public/js/recaptcha.js"></script>

  <!-- submit button activation -->
  <script type="text/javascript" src="/public/js/passview.js"></script>
  
</body>
</html>